<div>
<h2><%= @cocktail.name %></h2>

<h4>Doses</h4>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %> <%= dose.ingredient.name %> (<%= link_to 'Delete', dose_path(dose), method: :delete, data: {confirm: "Are you sure you wish to delete #{dose.description} #{dose.ingredient.name}?"}, :style=>'color: grey;' %>)</li>
  <% end %>
</ul>

<div>
  <%= link_to 'Add an amount', new_cocktail_dose_path(@cocktail), class: 'btn btn-light' %><br>
  <%= link_to 'Back', cocktails_path, class: 'btn btn-light mt-3' %>
</div>
</div>
